.bg-img{
  height: 100vh;
  width: available;
  background: linear-gradient(rgba(128,128,128,.7), rgba(128,128,128,.7)), url('../../../assets/img/warehouse3.jpg') no-repeat fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin: 0;
  padding: 0;
}

