<mat-dialog-content [formGroup]="form">
<!--    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>-->
    <span>Пожалуйста, задайте новый пароль: </span>
  <mat-form-field>
    <input matInput formControlName="passEdit1" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('passEdit1').hasError('minlength')">Не менее 6 символов</mat-error>
  </mat-form-field>

  <span>Повторите пароль: </span>
  <mat-form-field>
    <input matInput id="passEdit2" formControlName="passEdit2" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('passEdit2').hasError('minlength')">Не менее 6 символов</mat-error>
  </mat-form-field>
  <mat-error *ngIf="form.get('passEdit1').value != form.get('passEdit2').value">Пароли не совпадают</mat-error>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="col-6 text-right align-self-top">
    <button [disabled]="form.invalid || (form.get('passEdit1').value != form.get('passEdit2').value)" mat-raised-button [mat-dialog-close]="form.get('passEdit1').value" color="primary">Ок</button>
  </div>
  <div class="col-6 text-left align-self-top">
    <button mat-raised-button [mat-dialog-close]="false">Отмена</button>
  </div>
</mat-dialog-actions>
