<div class="content">
    <button mat-raised-button (click)="addShop()" color="primary">Добавить магазин</button>
    <div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Магазины</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <!-- # Column -->
                <ng-container matColumnDef="No">
                  <mat-header-cell *matHeaderCellDef> № п/п</mat-header-cell>
                  <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Название</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!--Abbr Column -->
                <ng-container matColumnDef="abbr">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Аббревиатура</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.abbr}} </mat-cell>
                </ng-container>

                <!-- Brand Column -->
                <ng-container matColumnDef="brand">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Бренд</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.brand.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="0">
                    Данные загружаются....
                  </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row (click)="editShop(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null && dataSource.data.length!=0}"></mat-footer-row>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
